.cursive{
    font-family: 'Skranji', cursive;
}

body{
    font-family: 'Baloo 2', cursive;
}

.bg-sky{
    background-color: #0EA5E9;
}

.bg-sand{
    background-color: #E0D3AF;
}

.hand{
    font-family: 'Fredericka the Great', cursive;
}

.btn{
    border-radius: 60% 90% 60% 90%;
}
